@font-face {
    font-family: growth;
    src: url(./growth.otf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

html ::-webkit-scrollbar {
    display: none;
}

#loader {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all ease 0.5s;
}

.loadertext {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5vw;
    /* position: absolute; */
    z-index: 9999999;
    position: fixed;

}

.loadertext h1 {
    font-family: "growth";
    font-size: 15vw;
    color: #FA5A32;
    opacity: 0;
}

.loader2 {
    width: 100%;
    position: absolute;
    /* background-color: blue; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    z-index: 999999;

}

.loader2 h1 {
    font-family: "growth";
    font-size: 15vw;
    color: #FA5A32;
}

#extra {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -100%;
    left: 0%;
    z-index: 99999;
    background-color: aqua;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3px;
}

#block {
    width: 20%;
    height: 100%;
    background-color: black;
}

.page2 {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.page2image {
    width: 400px;
    height: 450px;

}

.page2image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.page2textbox {
    width: 800px;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /* position: relative; */

}


.page2textbox h1 {
    color: #FA5A32;
    position: absolute;
    top: 0%;
    width: 100%;
    font-size: 19vw;
    font-family: growth;
    line-height: 1;
    z-index: 99999999999 !important;

}

.page2textbox p {
    font-size: 11px;
    width: 35%;
}

.page2textbox p span {
    color: rgb(238, 91, 38);
}

.page3 {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
}

.page3 img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 75%;

}

.page4text {
    width: 500px;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.page4text h1 {
    color: #fa5a32;
    z-index: 99999999999999;
    position: absolute !important;

}

.page4text h2 {
    color: black
}

.page4text p span {
    color: orangered;
}

.page4image {
    width: 650px;
    height: 450px;
    z-index: 99;

}

.page4image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -99;
}

.box {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.box-cantainer .box:nth-child(odd) {
    width: 570px;
    height: 400px;
}

.box-cantainer .box:nth-child(even) {
    width: 400px;
    height: 380px;
    margin-top: 2vw;

}

.box-cantainer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10vw;
    position: absolute;
    z-index: 999;/
}

.box {
    width: 400px;
    height: 400px;
    background-color: #fff;
}

#page6 {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10vw 7vw;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;

}

#left-first {
    width: 45vw;
    height: 150vh;
}

#left-first #img-div {
    width: 33vw;
    height: 35vw;
    position: relative;
}

#img-div img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#img-div #layer {
    width: 100%;
    height: 100%;
    position: absolute;
}

#left-first p {
    font-size: 10px;
    font-weight: 300;
}

#left-first p span {
    color: orangered;
}

#img-div1 {
    width: 33vw;
    height: 30vw;
    margin-top: 2vw;
    position: relative;
}

#img-div1 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#img-div1 #layer-div1 {
    width: 100%;
    height: 100%;
    position: absolute;
}

#left-second {
    width: 50vw;
    height: 105vh;

}

#left-second h1 {
    font-size: 19vw;
    font-family: growth;
    color: #FA5A32;
    position: absolute;
    top: -2%;
}

#left-second #p-divpage5 {
    width: 100%;
    height: 10vw;
    margin-top: 13vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

#p-divpage5 p {
    width: 17vw;
    font-size: .8vw;
    font-weight: 300;
}

#p-divpage5 p span {
    color: #FA5A32;
}

#left-second #img-div2 {
    width: 100%;
    height: 30vw;
    background-color: #FA5A32;
    position: relative;
}

#img-div2 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}


#img-div2 #layer-div2 {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0f0f0fa6;
}

#left-second p {

    font-size: 10px;
    font-weight: 300;
}

#left-second p span {
    color: orangered;
}

#page7 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 17vw;
    position: relative;
}

#left-page6 {
    width: 53vw;
    height: 50vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#left-page6 h1 {
    color: #FA5A32;
    font-size: 20vw;
    text-transform: uppercase;
    font-family: growth;
    margin-top: -7vw;
}

#left-page6 #pari {
    width: 18vw;
    font-size: 0.9vw;
    margin-top: -5vw;
    opacity: 0.9;
    font-weight: 300;
}

#left-page6 #para-page6 {
    margin-top: 2vw;
    width: 18vw;
    font-size: 0.8vw;
    opacity: 0.9;
    font-weight: 300;
}

#left-page6 #para-page6 span {
    color: #FA5A32;
}

#left-page6 #para2-page6 {
    margin-top: 5vw;
    width: 18vw;
    font-size: 0.8vw;
    opacity: 0.9;
    font-weight: 300;
}

#left-page6 #para2-page6 span {
    color: #FA5A32;
}

#right-page6 {
    width: 55vw;
    height: 40vw;
    /* background-color: rgb(48, 116, 175); */
}

#right-page6 img {
    width: 100%;
    height: 33vw;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 5vw;
}

#right-page6 p {
    font-size: 0.8vw;
    font-weight: 300;
}

#right-page6 p span {
    color: #FA5A32;
}

#page8 {
    width: 100%;
    height: 80vh;
    padding-left: 17vw;
}

#page8 #img-page7 {
    width: 70vw;
    height: 29vw;
    margin-top: 5vw;
}

#img-page7 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#page8 p {
    font-size: 0.8vw;
    font-weight: 300;
    /* margin-left: 17vw; */
}

#page8 p span {
    color: #FA5A32;
    /* margin-left: 17vw; */

}

._canvas_container {
    z-index: 99 !important;
}

.page2textbox {
    position: relative;
    z-index: 9999;
}

@media (max-width:600px) {
    #main {
        background-color: rgb(220, 220, 220);
    }

    .loadertext {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vw;
        /* position: absolute; */
        z-index: 9999999;
        position: fixed;

    }

    .loadertext h1 {
        font-family: "growth";
        font-size: 15vw;
        color: #FA5A32;
        opacity: 0;
    }

    .loader2 {
        width: 100%;
        position: absolute;
        background-color: blue;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: fixed;
        z-index: 999999;

    }

    .loader2 h1 {
        font-family: "growth";
        font-size: 15vw;
        color: #FA5A32;
        /* display: none; */
    }

    #extra {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: -100%;
        left: 0%;
        z-index: 99999;
        background-color: aqua;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 3px;
        display: none;
    }

    #block {
        width: 20%;
        height: 100%;
        background-color: black;
        display: none;
    }

    #pg-text-h1 h1 {
        font-size: 32vw;
    }

    #page-abs p {
        font-size: 3.5vw;
        width: 90vw;
        line-height: 1;
        font-family: sans-serif;
    }


    .page2 {
        width: 100%;
        height: 100vh;
        background-color: rgb(220, 220, 220);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .page2image {
        width: 400px;
        height: 450px;
        margin-top: 100vw;

    }

    .page2image img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .page2textbox {
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
        /* position: relative; */

    }


    .page2textbox h1 {
        color: #FA5A32;
        color: #FA5A32 !important;
        position: absolute;
        top: -200vw;
        padding-left: 7.3vw;
        width: 100%;
        font-size: 35vw;
        font-family: growth;
        line-height: 1;
        z-index: 99999999999 !important;
        /* background-color: #2a2875; */

    }

    .page2textbox p {
        font-size: 11px;
        width: 80%;
        top: -160vw !important;
        position: absolute;
        z-index: 9999999 !important;
    }

    .page2textbox p span {
        color: rgb(238, 91, 38);
    }
}